@tailwind base;
@tailwind components;
@tailwind utilities;
.main-panel {
    margin-top: 70px;
    /* Высота навигации */
}

.movie-image {
    width: 200px;
    /* Ширина изображения */
    height: auto;
    /* Высота будет автоматически подстраиваться */
}